Repository teyfix/next-template: changes, and which lefthook commands are due for each by the changed paths.
All: check, typescript, package-json, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run:
        bun x @biomejs/biome check --write --no-errors-on-unmatched
        --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{js,ts,jsx,tsx}"
      run: |
        if [ ! -f next-env.d.ts ]; then
          bun x next typegen
        fi

        bun x tsc --noEmit --project tsconfig.json
    package-json:
      glob: package.json
      run: |
        bun install
        bun x prettier --write package.json
        git add bun.lock
      stage_fixed: true
    prettier:
      glob: "*.{yml,yaml,md,svg,sql,json,jsonc}"
      run: bun x prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: bun x commitlint --edit

chore: move lefthook to devDependency
  bun.lock
  package.json
Due: package-json, prettier

refactor(root-layout): move to components/
  src/app/layout.tsx
  src/components/layouts/root.layout.tsx
Due: check, typescript

feat(i18n): set up next-intl with SSG support
  biome.json
  bun.lock
  messages/en.yaml
  messages/tr.yaml
  next.config.ts
  package.json
  src/app/[locale]/[...not-found]/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/layouts/root.layout.tsx
  src/components/layouts/root/providers.tsx
  src/components/pages/home.page.tsx
  src/components/pages/not-found.page.tsx
  src/i18n/getLocaleParam.ts
  src/i18n/locales.ts
  src/i18n/pathnames.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/i18n/withLocale.tsx
  src/proxy.ts
  src/types/route-props.ts
  src/types/yaml.d.ts
Due: check, typescript, package-json, prettier

feat(react-query): add react query provider
  bun.lock
  package.json
  src/components/layouts/root/providers.tsx
  src/components/layouts/root/providers/react-query.provider.tsx
Due: check, typescript, package-json, prettier

feat(next-themes): add next-themes provider
  bun.lock
  package.json
  src/components/layouts/root.layout.tsx
  src/components/layouts/root/providers.tsx
  src/components/layouts/root/providers/theme.provider.tsx
Due: check, typescript, package-json, prettier

feat(nuqs): add nuqs adapter for using query states client-side
  bun.lock
  package.json
  src/components/layouts/root/providers.tsx
Due: check, typescript, package-json, prettier

feat(shadcn): add shadcn
  bun.lock
  components.json
  package.json
  src/app/globals.css
  src/lib/utils.ts
Due: check, typescript, package-json, prettier

refactor(theme): move global.css to src/theme
  components.json
  src/components/layouts/root.layout.tsx
  src/theme/globals.css
Due: check, typescript, prettier

style(fonts): apply font-sans to body
  src/theme/globals.css
Due: none

feat(fonts): move fonts under src/theme refactor(fonts): change app fonts to Noto Sans and Source Code Pro
  src/components/layouts/root.layout.tsx
  src/theme/fonts.ts
  src/theme/globals.css
Due: check, typescript

chore(biome): add rules for incorrect imports
  biome.json
Due: prettier

feat(dashboard): add dashboard layout
  biome.json
  bun.lock
  messages/en.yaml
  messages/tr.yaml
  package.json
  src/app/[locale]/admin/[...not-found]/page.tsx
  src/app/[locale]/admin/layout.tsx
  src/app/[locale]/admin/users/page.tsx
  src/app/[locale]/app/[...not-found]/page.tsx
  src/app/[locale]/app/layout.tsx
  src/components/icons.ts
  src/components/layouts/dashboard.layout.tsx
  src/components/layouts/dashboard/sidebar-content.tsx
  src/components/layouts/dashboard/sidebar-header.tsx
  src/components/layouts/dashboard/sidebar.types.ts
  src/components/pages/admin/users.page.tsx
  src/components/pages/not-found.page.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/lang-toggle.tsx
  src/components/ui/mode-toggle.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/slot.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/hooks/use-user-mock.ts
  src/i18n/errors.ts
  src/i18n/getAppLocale.ts
  src/i18n/pathnames.ts
  src/i18n/useAppLocale.ts
  src/lib/sleep.ts
  src/theme/globals.css
Due: check, typescript, package-json, prettier

feat(env): add .example.env
  .example.env
Due: none

feat(docs): updated README
  .example.env
  README.md
Due: prettier

feat(ci): add docker build workflow
  .github/workflows/build.yaml
Due: prettier

fix(ci): typo in compose project file
  .github/workflows/build.yaml
Due: prettier

ci(workflow): replace compose build with build action
  .github/workflows/build.yaml
Due: prettier

chore: update i18n-ally settings for workspace
  .vscode/settings.json
Due: prettier

chore: add extension recommendations
  .vscode/extensions.json
Due: prettier

fix(mode-toggle): add missing translations
  messages/en.yaml
  messages/tr.yaml
Due: prettier

chore: organize tsconfig.json
  tsconfig.json
Due: prettier

chore: add com.chrome.devtools.json to supress 404 warnings
  public/.well-known/appspecific/com.chrome.devtools.json
Due: prettier

feat: add SVGR and ImageKit for optimized media handling
  .example.env
  biome.json
  bun.lock
  next.config.ts
  package.json
  src/components/image.tsx
  src/components/image/errors.ts
  src/components/layouts/dashboard.layout.tsx
  src/config/browser.config.ts
  src/config/browser/browser-config.schema.ts
  src/config/shared/helpers.ts
  src/config/shared/types.ts
  src/types/svgr.d.ts
  svgo.config.mjs
  svgr.config.mjs
  tsconfig.json
Due: check, typescript, package-json, prettier

chore: bump packages
  bun.lock
  package.json
Due: package-json, prettier

fix(docker): change base image to bun:1-alpine
  Dockerfile.bun
Due: none

feat(docker): add bun install cache support
  Dockerfile.bun
Due: none

fix(svgr): add missing change-case package
  bun.lock
  package.json
Due: package-json, prettier

feat(i18n): add localized root layout metadata
  messages/en.yaml
  messages/tr.yaml
  src/components/layouts/root.layout.tsx
Due: check, typescript, prettier

feat(db): add drizzle support
  .example.env
  bun.lock
  bunfig.toml
  drizzle.config.ts
  migrations/0000_create_schema.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  package.json
  src/config/server.config.ts
  src/config/server/server-config.schema.ts
  src/config/shared/errors.ts
  src/db/drizzle.ts
  src/db/neon-client.ts
  src/db/schema.ts
  src/db/schemas/app.schema.ts
Due: check, typescript, package-json, prettier

docs(readme): promote Drizzle + Neon to current features
  README.md
Due: prettier

fix(config/helpers): envArray returns [""] for empty values
  src/config/shared/helpers.ts
Due: check, typescript

style(button): make default cursor pointer
  src/components/ui/button.tsx
Due: check, typescript

feat(auth): add better-auth
  .example.env
  biome.json
  bun.lock
  messages/en.yaml
  messages/tr.yaml
  migrations/0001_better_auth.sql
  migrations/meta/0001_snapshot.json
  migrations/meta/_journal.json
  package.json
  src/app/[locale]/auth/login/page.tsx
  src/app/[locale]/hello/page.tsx
  src/app/api/auth/[...all]/route.ts
  src/components/auth/login-button.tsx
  src/components/pages/auth/login.page.tsx
  src/components/pages/hello/hello.page.tsx
  src/components/ui/card.tsx
  src/config/server.config.ts
  src/config/server/server-config.schema.ts
  src/db/custom/iso-timestamp.ts
  src/db/custom/utils.ts
  src/db/schemas/auth.schema.ts
  src/db/schemas/auth.values.ts
  src/i18n/pathnames.ts
  src/i18n/routing.ts
  src/lib/auth.ts
  src/lib/auth/client.ts
  src/lib/auth/server.ts
  src/lib/auth/types.ts
  src/lib/http/extract-origin.ts
Due: check, typescript, package-json, prettier
